@model Occasion
      <a class="btn btn-success" asp-action="Dashboard" asp-controller="Home">Dashboard</a>
      <a asp-action="LogOut" asp-controller="Home" class="btn btn-danger">Logout</a>
<br>

<h1>Create an Activity</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<br>

<form asp-action="Create" asp-controller="Home" method="post">
<table>
    <tr>
        <td><label asp-for="Title"></label></td>
        <td><input asp-for="Title"></td>
        <td><label asp-for="Date"></label></td>
        <td><input asp-for="Date"></td>
    </tr>
    <tr>
        <td><label asp-for="Description"></label></td>
        <td><input asp-for="Description"></td>
        <td><label asp-for="Duration"></label></td>
        <td><input name="Duration"+ duration></td>
        <td><select name="dur">
            <option value="Hours">Hours</option>
        </select></td>
        
    </tr>
            <td><input type="hidden" asp-for="UserId" value="@ViewBag.User.UserId"></td>
        <td><input class="btn btn-warning" type="submit" value="Create Activity"></td>
    <tr>
    </tr>
    <tr>
        <td></td>

    </tr>
</table>
</form>


